<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HCWX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="wxHotCorner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <HCWX.Properties.Settings>
            <setting name="TL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TR" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BL" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BR" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numBR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numTR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numBL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numTL" serializeAs="String">
                <value>0</value>
            </setting>
        </HCWX.Properties.Settings>
        <wxHotCorner.Properties.Settings>
            <setting name="TL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIcon" serializeAs="String">
                <value>True</value>
            </setting>
        </wxHotCorner.Properties.Settings>
    </userSettings>
</configuration>
